.form-field {
	width: 100%;
	position: relative;
	z-index: 500;

	&__icon {
		position: absolute;
		z-index: 600;
		left: 1rem;
		top: 50%;
		@include transform-y-m50percent;
	}
	input {
		width: 100%;
		padding-left: 4rem;
	}
}

.error-message {
	font-size: 1.2rem;
	margin-top: 0.3rem;
	font-weight: 300;
	color: $color-danger;
}
