.list-primary {
    display: inline-block;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    &__left,
    &__right {
        display: inline-block
    }

    &__left {
        position: relative;
        z-index: 500;
        padding-right: 20%;
        width: 60%;

        &::before {
            content: ":";
            position: absolute;
            z-index: 600;
            top: 50%;
            right: 20%;
            color: $color-best;

            @include transform-y-m50percent;
        }
    }

    &__right {}
}