// COLOR-PRIMARY
$color-primary-1: #5664d2;

// COLOR-SECONDARY
$color-secondary-1: #1d222e;
$color-secondary-2: #252b3b;
$color-secondary-3: #2b3244;
$color-secondary-4: #31394e;
$color-secondary-5: #232836;
$color-secondary-6: #2c3343;
$color-secondary-7: #31394e;

// COLOR-TERTIARY
$color-tertiary-1: #968c9c;
$color-tertiary-2: #919ba3;
$color-tertiary-3: #646464;
$color-tertiary-4: #3e4558;
$color-tertiary-5: #8590a5;
$color-addition-9: #555e74;

// COLOR-BEST
$color-best: #eeeeee; // white

// COLOR-DANGER
$color-danger: #dc3545;

// ADDITIONAL COLOR
$color-addition-1: #4db95f;
$color-addition-2: #5664d2;
$color-addition-3: #eb615f;
$color-addition-6: #d29d21;
$color-addition-7: #56acd2;
$color-addition-8: #d29856;
$color-addition-: #000009;
