// USER >> VERIFIED-USER

.section-users {

    .v-user-list {
        width: 100%;
        font-size: 1.4rem;
        font-weight: 300;

        tr {
            display: inline-block;
            width: 100%;
            padding: 1.5rem 2rem;
            margin-bottom: 1rem;
            @include border-r-sm;

        }

        thead {
            tr {
                background-color: $color-tertiary-4;
            }
        }

        th {
            text-align: left;
        }

        th,
        td {
            display: inline-block;
        }


        tbody {
            tr {
                background-color: $color-secondary-2;
            }
        }

        &__sn {
            width: 10%;
        }

        &__name {
            width: 20%;
            text-decoration: underline;
        }

        &__email {
            width: 20%;
        }

        &__ph-number {
            width: 20%;
        }

        &__status {
            width: 20%;
        }

        &__view-more {
            width: 10%;
            text-align: right;
            color: $color-primary-1;
        }
    }

}